* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;

}

.forma {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form__input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

.form__button {
    padding: 10px;
    background-color: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.form-text__entrance {
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #00a6cb;
    cursor: pointer;
    margin-top: -260px;
    margin-left: -6px;
}

.form-text__register {
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #888;
    padding-top: 10px;
    cursor: pointer;
    margin-top: -255px;
    margin-left: 295px;
}